aws_region        = "ap-south-1"
aws_profile       = "default"
cluster_name      = "ibs-gitops-demo"
github_org        = "getsan4u"
platform_repo_url = "https://github.com/getsan4u/ibs-eks-argo-platform.git"

# Do not commit a real token.
# Use TF_VAR_github_scm_token instead.
